<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KalpabrikshayHoldings</title>
    <!-- testimonials -->
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!-- animation link -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- fontawesome cdn link -->
   <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav class="navbar">
        <img src="/img/kalpa50.png" alt="">
        <!-- <h3>logo</h3> -->
       
         <ul class="navlink">
            <li><a href="/">Home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/whatwedo">what we do</a></li>
            <li><a href="/ourinvestment">our investment</a></li>
            <li><a href="/contactus">contact us</a></li>
        </ul> 

        <button class="btn">Free Consultant</button>
    </nav>

    <!-- main section start from here  -->


    <main>

        <div class="main-sec">
            <img class="back-img" src="/img/2 finance.jpg" alt="finance related image">
            <div class="heading" data-aos="fade-down">
                <p class="para">Your Financial Status is Good Hands</p>
                <h3 class="head">Kalpabrikshay Will Give <br> <span class="role"></span> </h3>            
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit  amet consectetur adipisicing elit. <br> Earum laudantium, corrupti voluptatem, similique cum cumque omnis, <br> atque aliquam illum labore repudiandae eum provident! </p>
                <a href="/contact"><button class="btn">Contact Us</button></a>
            </div>
        </div>
    </main>

     <!-- ----------------------------hiro sectoin start from here---------------------------- -->
    <section class="hiro-sec" data-aos="fade-down">
        <div class="left-hiro mob-hero">
            <p class="left-hiro-para">About Company</p>
            <h4 class="left-hiro-head head">we help our client to achive their <br> desire goal </h4>
           <p class="left-hiro-para2">Lorem ipsum dolor sit amet consectetur adipisicing elit  amet consectetur adipisicing elit. <br> Earum laudantium, corrupti voluptatem, similique cum cumque omnis, <br> atque aliquam illum labore repudiandae eum provident!</p>

           <div class="icon">
            <img src="/img/data.gif" alt="" height="78px" width="78px">
            <!-- <img src="https://img.icons8.com/ios-filled/50/34ba82/total-sales-1.png"/>
            <a target="_blank" href="https://icons8.com/icon/70640/total-sales"></a> -->
            <div class="iconheading">
                <h3>Support On Raising Funds</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Quis ipsum <br> suspendisse ultrices gravida. Risus commodo</p>
            </div>
           </div>

           <div class="icon">
            <!-- <img src="/img/iconvdo.gif" alt=""> -->
            
            
            <img src="https://img.icons8.com/ios-filled/50/34ba82/euro-pound-exchange-1--v2.png"/>
            <a target="_blank" href="https://icons8.com/icon/gsPggM2S9aKA/euro-pound-exchange"></a>

            <div class="iconheading">
                <h3>Support On Raising Funds</h3>
            <p class="paraff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Quis ipsum <br> suspendisse ultrices gravida. Risus commodo</p>
            
            <a href="#"><button class="btn readmore">Read More</button></a>           
            </div>         
           </div>
        </div>
        </div>
        
    <!-- <img class="right-hiro" src="/img/curveimg.png" alt="">       -->
    <!-- <img class="right-hiro" src="/img/1 finance.jpg" alt="">       -->
    <img class="right-hiro" src="/img/curveimg.png" alt="">      
    <!-- <img class="animated" src="/img/1animation.gif" alt=""> -->


    </section>


<!-- ----------------------------latest project sectoin start from here---------------------------- -->

<section class="project-sec">
    <div class="latestpro">
     <p class="left-hiro-para">Latest Project</p>
     <h2 class="head">We Have Completed Latest Projects</h2>
    </div>

    <div class="projectimg">

       <div class="card1">
        <img class="imgpro" src="/img/size1.png" alt="">
       <div class="cardhead">
        <h1>investment Trading</h1>
        <p class="left-hiro-para">Trading</p>
       </div>
       </div>

       <div class="card1">
        <img class="imgpro" src="/img/size2.png" alt="">
        <div class="cardhead">
            <h1>investment Trading</h1>
            <p class="left-hiro-para">Trading</p>
           </div>
       </div>

       <div class="card1">
        <img class="imgpro" src="/img/size3.png" alt="">
        <div class="cardhead">
            <h1>investment Trading</h1>
            <p class="left-hiro-para">Trading</p>
           </div>
       </div>

       <div class="card1">
        <img class="imgpro" src="/img/size1.png" alt="">
        <div class="cardhead">
            <h1>investment Trading</h1>
            <p class="left-hiro-para">Trading</p>
           </div>
       </div>
    
    </div>
 
 </section> 

 <!-- video sectoin -->

<section class="demo">
    <!-- <img class="backvdo" src="/img/chartdark.jpg" alt=""> -->
    <img class="backvdo" src="/img/2 finance.jpg" alt="">
 
    <div class="backheading">    
        <!-- <h3>Watch Our Latest Video For <br> Better Innovation</h3> -->
        <img src="/img/motion_blur_02.png" alt="">
        <!-- <img src="/img/motion_blur_01.png" alt=""> -->
       <a href="https://youtu.be/6sEG4A9NaPU"> <img class="vdosample" src="/img/vdosample2.gif" alt=""><a>  

    </div>  
</section>












    
    <div class="testing"></div>



    <!-- testimonials -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- swipper -->
   <script>
     
   </script>

    <!-- Aos data animation -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset:300,
            duration:2000
        });
      </script>

      <!-- textanimation -->
      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
      <script src="https://kit.fontawesome.com/58a810656e.js" crossorigin="anonymous"></script>
  
      <script>
          var typeData = new Typed(".role",{
              strings: [
                 "Business Opportunity",
                  "Invest Planning",
                  "Financial Consultancy",
                  "Business Advisor",
                 
              ],
              loop : true,
              typeSpeed: 90,
              backDelay : 2000,
          });
  
      </script>
  
</body>
</html>